.App {
  height: 100lvh;
  width: 100lvw;
  display: flex;
  flex-direction: column;
}

.main-heading {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.25rem;
  text-decoration: underline;
  padding: 8px;
}

.buttonStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  color: var(--white);
  background-color: var(--mid-dark);
  font-weight: 600;
  border-radius: 16px 16px 0 0;
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

.sections {
  flex: 1 0;
  display: flex;
  width: 100%;
  padding: 16px 32px;
  gap: 32px;
}

.Spinner {
  width: 48px;
  height: 48px;
  border: 3px dotted var(--mid-white);
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

.Spinner::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted var(--dark);
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@media only screen and (min-width: 481px)  {
  .hidden{
    display: none !important;
  }
}
@media only screen and (max-width: 480px)  {
  .hide{
    display: none !important;
  }
}
